extends layout 

block content

  .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      h1.page-header Categories
      .row.placeholders
        .col-xs-6.col-sm-3.placeholder
         a(href='/articles/category/1')
          img.img-responsive(src='images/basketball.png', width='150', height='150', alt='Generic placeholder thumbnail')
          h4 Basketball
        .col-xs-6.col-sm-3.placeholder
         a(href='/articles/category/1')
          img(src='images/football.jpg', width='200', height='200', alt='Generic placeholder thumbnail')
          h4 Football
